@import '../common.less';
html,body{
  background-color: #f6f6f6;
}
.banner{
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -150px;
  img{
    width: 100%;
    height: 100%;
  }
}
.content-box{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  .content-title{
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    margin-top: 30px;
    .back-icon{
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
    }
    .content-title-title{
      font-size: 34px;
      font-weight: 400;
      color: #333333;
      width: 100%;
      text-align: center;
    }
  }
  .content-body{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 60px;
    margin-top: 30px;
  }
}

ul,li{
  padding: 0;
  margin: 0;
  outline: none;
  color: #3A3A3A;
  list-style: none;
}
.hideStyle{
  display: none;
}




// 特效的展示样式
.container {
  perspective:320px;
}
.back-icon {
  display:block;
  border:none;
  border-radius: 50%;
  color:#fff;
  font-size:18px;
  outline:none;
  cursor:pointer;
  transition:.3s linear;
}
.back-icon:hover {
  transform:rotateX(15deg);
  box-shadow:0 15px 15px rgba(78,107,195,0.58);
}
a{
  color: #4e6bc3;
}
