@import '../common.less';
html,body{
  background-color: #f6f6f6;
}
.banner{
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -150px;
  img{
    width: 100%;
    height: 100%;
  }
}
.nav{
  margin: 0 auto;
  height: 122px;
  line-height: 122px;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(127, 127, 127, 0.4);
  ul.menu-container{
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-flow: row;
    li{
      flex: 1;
      font-size: 30px;
      font-weight: 400;
      color: #3A3A3A;
      display: flex;
      justify-content: center;
      div.active{
        color: #4E67C3;
        font-size: 32px;
        font-weight: 420;
        width: 200px;
      }
      div {
        color: #3A3A3A;
        position: relative;
        width: 200px;
        margin: auto;
        cursor: pointer;
        text-align: center;
        transition: color .5s;
      }

      div::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background: #4E67C3;
        transition: all .5s;
      }
      div:hover::before {
        left: 0;
        width: 200px;
      }
    }
  }

}
.company-introduction{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  .content-title{
    height: 148px;
    line-height: 148px;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    text-align: center;
  }
  .descItem{
    padding: 0 60px;
    .content-desc{
      width: 100%;
      text-align: center;
      margin-bottom: 55px;
      padding: 0 10px;
    }
  }
  .menu-box{
    background: #E9E9E9;
    .menu-list{
      display: flex;
      flex-flow: row wrap;
      margin: 25px;
      padding-bottom: 30px;
      .menus-item{
        width: 50%;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 30px;
        font-size: 30px;
        color: #333333;
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-top: 30px;
        .item-name{
          margin-left: 20px;
          cursor: pointer;
        }
        img{
          width: 52px;
          height: 52px;
          border-radius: 50%;
        }
      }
      .menuActive{
        color: #4E67C3;
        font-size: 32px;
      }
    }
  }
  .content-body{
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 60px;
    // 新闻资讯
    .news-list{
      //padding: 0 35px;
      .news-item{
        border-bottom: 1px solid #E8E8E8;
        padding: 52px 35px;
        display: flex;
        flex-flow: row;
        margin-bottom: 50px;
        background-color: #ffffff;
        box-shadow: 0px 0px 13px 0px rgba(127, 127, 127, 0.4);
        .item-text{
          flex: 1;
          text-align: left;
          margin-right: 40px;
          overflow: hidden;
          .news-title{
            font-size: 24px;
            font-weight: 400;
            color: #4E67C3;
            margin-top: 27px;
            cursor: pointer;
            transition: 1s;
          }
          .news-title {
            top: 11%;
            display: inline-block;
            background: linear-gradient(#4E67C3, #4E67C3) no-repeat;
            background-size: 100% 3px;
            background-position: -25em 1.25em;
          }

          .news-title:hover {
            background-position: 100% 1.25em;
          }
          .news-content{
            font-size: 18px;
            font-weight: 400;
            color: #000;
            margin-top: 33px;
            height: 200px;
            overflow: hidden;
          }
          .detail-button {
            width: 139px;
            height: 45px;
            line-height: 45px;
            color: #FFFFFF;
            text-align: center;
            background: #4E67C3;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease;
          }
          .btn-3 {
            //color: rgba(2,126,251,1);
            //background: rgba(118,174,241,1);
            width: 130px;
            height: 40px;
            line-height: 42px;
            padding: 0;
            border: none;

          }
          .btn-3 span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
          }
          .btn-3:before,
          .btn-3:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            //background: rgba(2,126,251,1);
            background: #4E67C3;
            transition: all 0.3s ease;
          }
          .btn-3:before {
            height: 0%;
            width: 2px;
          }
          .btn-3:after {
            width: 0%;
            height: 2px;
          }
          .btn-3:hover{
            background: transparent;
            box-shadow: none;
          }
          .btn-3:hover:before {
            height: 100%;
          }
          .btn-3:hover:after {
            width: 100%;
          }
          .btn-3 span:hover{
            //color: rgba(2,126,251,1);
            color: #4E67C3;
          }
          .btn-3 span:before,
          .btn-3 span:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: #4E67C3;
            //background: rgba(2,126,251,1);
            transition: all 0.3s ease;
          }
          .btn-3 span:before {
            width: 2px;
            height: 0%;
          }
          .btn-3 span:after {
            width: 0%;
            height: 2px;
          }
          .btn-3 span:hover:before {
            height: 100%;
          }
          .btn-3 span:hover:after {
            width: 100%;
          }
        }
        .item-img{
          height: 360px;
          width: 640px;
          background-color: darkseagreen;
          margin-right: 40px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

ul,li{
  padding: 0;
  margin: 0;
  outline: none;
  color: #3A3A3A;
  list-style: none;
}
.hideStyle{
  display: none;
}
.dispalayShow{
  display: block;
}
.dispalayHide{
  display: none;
}
//特效

#pillar {
  display: block;
  margin: 100px auto;
  width: 300px;
  transform: translateX(-200px);
  perspective: 1900px;
}

.wrap {
  display: flex;
  transform: rotateY(0deg);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-style: preserve-3d;
}

.row {
  width: 800px;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.row:hover .wrap {
  transform: rotateY(-45deg);
  cursor: pointer;
}
.row:hover {
  z-index: 1;
}
.row:hover .left:before {
  width: 55%;
}
.row .left {
  width: 400px;
  padding: 15px 20px;
  text-align: right;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}
.row .left:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: width 1s ease-in-out;
}
.row .right {
  width: 400px;
  padding: 15px 20px;
  text-align: left;
  transform: rotateY(90deg);
  transform-origin: left center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
