@import '../common.less';
html,body{
  background-color: #f6f6f6;
}
.banner{
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  margin: 0 auto;
  
  margin-top: -150px;
  height: 620px;
  box-sizing: border-box;
  img{
    width: 100%;
    height: 100%;
  }
}
.content-box{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  .case-list{
    width: 100%;
    .case-item{
      width: 100%;
      margin-top: 50px;
      box-sizing: border-box;
      display: grid;
      cursor: pointer;
      height: 331px;
      background-color: #3b4c7e;
      overflow: hidden;
      .imgBox{
        width: 100%;
        height: 100%;
        position: relative;
        img{
          width: 100%;
          height: 100%;
          opacity:1;
          transition:opacity .35s,transform .35s;
        }
        .text-box{
          top: 0;
          position: absolute;
          color: #FFFFFF;
          background-color: rgba(0,0,0,0.5);
          width: 100%;
          height: 100%;
          text-align: center;
          z-index: 1;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          opacity:0;
          transition:opacity .35s,transform .35s;
          transform:translate3d(0,20px,0) scale(1.1);
          .case-title{
            font-size: 35px;
            font-weight: 400;
          }
          .case-desc{
            
            margin-top: 50px;
            text-align: left;
            box-sizing: border-box;
          }
        }
      }
      .imgBox text-box {
        transition:transform .35s;
        transform:translate3d(0,20px,0);
        opacity:0;
        color:#fff;
        font-size:16px;
      }
      .imgBox:hover .text-box {
        transform:translate3d(0,0,0);
        opacity:1;
      }
      .imgBox:hover .text-box {
        opacity:1;
        transform:translate3d(0,0,0) scale(1);
      }
    }
  }
}
ul,li{
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  color: #3A3A3A;
}
