.padding_bottom_310 {
  padding-bottom: 310px;
}
@media only screen and (max-width: 1300px) {
  body {
    min-width: 1300px;
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    color: #494949;
  }
}
@media only screen and (min-width: 1301px) {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    width: 100%;
    color: #494949;
  }
}
html,
body {
  background-color: #f6f6f6;
}
.banner {
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -150px;
  height: 620px;
  box-sizing: border-box;
}
.banner img {
  width: 100%;
  height: 100%;
}
.content-box {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.content-box .case-list {
  width: 100%;
}
.content-box .case-list .case-item {
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
  display: grid;
  cursor: pointer;
  height: 331px;
  background-color: #3b4c7e;
  overflow: hidden;
}
.content-box .case-list .case-item .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.content-box .case-list .case-item .imgBox img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
.content-box .case-list .case-item .imgBox .text-box {
  top: 0;
  position: absolute;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, 20px, 0) scale(1.1);
}
.content-box .case-list .case-item .imgBox .text-box .case-title {
  font-size: 35px;
  font-weight: 400;
}
.content-box .case-list .case-item .imgBox .text-box .case-desc {
  margin-top: 50px;
  text-align: left;
  box-sizing: border-box;
}
.content-box .case-list .case-item .imgBox text-box {
  transition: transform 0.35s;
  transform: translate3d(0, 20px, 0);
  opacity: 0;
  color: #fff;
  font-size: 16px;
}
.content-box .case-list .case-item .imgBox:hover .text-box {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.content-box .case-list .case-item .imgBox:hover .text-box {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}
ul,
li {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  color: #3A3A3A;
}
