.padding_bottom_310 {
  padding-bottom: 310px;
}
@media only screen and (max-width: 1300px) {
  body {
    min-width: 1300px;
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    color: #494949;
  }
}
@media only screen and (min-width: 1301px) {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    width: 100%;
    color: #494949;
  }
}
.header-container {
  height: 68px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffff;
}
.header-container .header-container-inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-container .header-container-inner .logo-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 180px;
}
.header-container .header-container-inner ul.menu-container {
  position: relative;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 660px;
}
.header-container .header-container-inner ul.menu-container .line {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 75%;
  width: 10px;
  background-color: #435488;
}
@keyframes mymove {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
.header-container .header-container-inner ul.menu-container li.menu-item {
  width: 110px;
  list-style: none;
  text-align: center;
  line-height: 68px;
  text-decoration: none;
  position: relative;
}
.header-container .header-container-inner ul.menu-container li.menu-item span {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  background: #364877;
  top: 65px;
  left: 50%;
}
.header-container .header-container-inner ul.menu-container li.menu-item .spanIsclick {
  left: 17%;
  width: 66%;
  right: 0;
  height: 3px;
}
.header-container .header-container-inner ul.menu-container li.menu-item a {
  color: #494949;
}
.header-container .header-container-inner ul.menu-container li.menu-item a:link {
  color: #494949;
  font-weight: 520;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.header-container .header-container-inner ul.menu-container li.menu-item a:hover {
  color: #435488;
}
.slide-container {
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 67px;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 9999;
}
.slide-container .chanpin {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  color: #dddee0;
}
.slide-container .chanpin .chanpinItem {
  flex: 1;
}
.slide-container .chanpin .chanpinItem h3 {
  margin-top: 0;
}
.slide-container .chanpin .chanpinItem .chanpinName:first-child {
  margin-top: 0;
}
.slide-container .chanpin .chanpinItem .chanpinName {
  font-size: 18px;
}
.slide-container .chanpin .chanpinItem:nth-child(2) {
  padding-left: 80px;
  box-sizing: border-box;
  flex: 1.5;
}
.slide-container .fangan {
  display: none;
}
.slide-container .us {
  display: none;
}
.support-img {
  height: 750px;
  width: 100%;
}
.support-img img {
  width: 100%;
}
.support-title {
  text-align: center;
  font-size: 30px;
  padding: 50px 0;
}
.support-con {
  width: 1283px;
  height: 500px;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  box-shadow: 0 0 10px #ccc;
}
.support-con .support-con-item {
  border: 0.01px solid #f2f2f2;
  padding: 35px;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 40% 60%;
}
.support-con .support-con-item .support-con-item-title {
  font-size: 18px;
  color: black;
}
.support-con .support-con-item .support-con-item-text {
  line-height: 25px;
  font-size: 15px;
  color: #7a7a7a;
}
