@import "../common.less";
.header-container {
  height: @headerHeight;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffff;
  .header-container-inner {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo-container {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 180px;
    }

    ul.menu-container {
      position: relative;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 660px;
      // overflow: hidden;
      .line {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 75%;
        width: 10px;
        background-color: @hoverColor;
      }
      @keyframes mymove {
        from {
          width: 0;
        }
        to {
          width: 50px;
        }
      }

      li.menu-item {
        width: 110px;
        list-style: none;
        text-align: center;
        line-height: @headerHeight;
        text-decoration: none;
        position:relative;

        span{
          display:block;
          position:absolute;
          width:0px;
          height:0px;
          background:#364877;
          top:65px;
          left:50%;
        }
        .spanIsclick{
          left:17%;
          width:66%;
          right:0;
          height: 3px;
        }
        a{
          color:@fontColor;
        }
        a:link {
          color: @fontColor;
          font-weight: 520;
          text-decoration: none;
          height: 100%;
          width: 100%;
          display: inline-block;
        }
        a:hover {
          color: @hoverColor;
        }
      }
    }
  }
}
.slide-container{
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 67px;
  background: rgba(0,0,0,0.9);
  display: none;
  z-index: 9999;
  .chanpin{
    max-width: 1300px;
    margin: 0 auto;
    // display: none;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    color: @headerTabColor;
    .chanpinItem{
      flex: 1;
      h3{
        margin-top: 0;
      }
      .chanpinName:first-child{
        margin-top: 0;
      }
      .chanpinName{
        font-size: 18px;
      }
    }
    .chanpinItem:nth-child(2){
      padding-left: 80px;
      box-sizing: border-box;
      flex: 1.5;

    }
  }
  .fangan{
    display: none;
  }
  .us{
    display: none;
  }
}

.support-img{
    height: 750px;
    width: 100%;
    img{
        width: 100%;
    }
}
.support-title{
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
}
.support-con{
    width: 1283px;
    height: 500px;
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(2,50%);
    box-shadow: 0 0 10px #ccc;
    .support-con-item{
        border: 0.01px solid #f2f2f2;
        padding: 35px;
        box-sizing: content-box;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 40% 60%;

        .support-con-item-title{
            font-size: 18px;
            color: black;
        }
        .support-con-item-text{
            line-height: 25px;
            font-size: 15px;
            color:#7a7a7a;
        }
    }
}
