.padding_bottom_310 {
  padding-bottom: 310px;
}
@media only screen and (max-width: 1300px) {
  body {
    min-width: 1300px;
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    color: #494949;
  }
}
@media only screen and (min-width: 1301px) {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    width: 100%;
    color: #494949;
  }
}
