.padding_bottom_310 {
  padding-bottom: 310px;
}
@media only screen and (max-width: 1300px) {
  body {
    min-width: 1300px;
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    color: #494949;
  }
}
@media only screen and (min-width: 1301px) {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, Microsoft YaHei;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    width: 100%;
    color: #494949;
  }
}
html,
body {
  background-color: #f6f6f6;
}
.banner {
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -150px;
}
.banner img {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.nav {
  margin: 0 auto;
  height: 122px;
  line-height: 122px;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(127, 127, 127, 0.4);
}
.nav ul.menu-container {
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 1300px;
  height: 100%;
  display: flex;
  flex-flow: row;
}
.nav ul.menu-container li {
  flex: 1;
  font-size: 30px;
  font-weight: 400;
  color: #3A3A3A;
  display: flex;
  justify-content: center;
}
.nav ul.menu-container li div.active {
  color: #4E67C3;
  width: 200px;
  font-size: 32px;
}
.nav ul.menu-container li div {
  color: #3A3A3A;
  position: relative;
  width: 200px;
  margin: auto;
  cursor: pointer;
  text-align: center;
  transition: color 0.5s;
}
.nav ul.menu-container li div::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #4E67C3;
  transition: all 0.5s;
}
.nav ul.menu-container li div:hover::before {
  left: 0;
  width: 200px;
}
.company-introduction {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.company-introduction .content-title {
  height: 148px;
  line-height: 148px;
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
.company-introduction .content-body {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 60px;
}
.company-introduction .content-body .company-name {
  font-size: 48px;
  font-weight: 400;
  color: #666666;
  padding-top: 45px;
}
.company-introduction .content-body .company-name-en {
  padding-top: 30px;
  font-size: 48px;
  font-weight: 400;
  color: #C8C8C8;
}
.company-introduction .content-body .line {
  width: 360px;
  height: 1px;
  background: #C9C9C9;
  margin: 0 auto;
  margin-top: 44px;
}
.company-introduction .content-body .company-nav {
  width: 100%;
  height: 354px;
  display: flex;
  align-items: center;
}
.company-introduction .content-body .company-nav ul.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
}
.company-introduction .content-body .company-nav ul.menu-container li.menu-item {
  flex: 1;
  font-size: 30px;
  font-weight: 400;
  color: #3A3A3A;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.company-introduction .content-body .company-nav ul.menu-container li.menu-item .menu-name {
  font-size: 72px;
  font-weight: 400;
  color: #333333;
}
.company-introduction .content-body .company-nav ul.menu-container li.menu-item .menu-desc {
  font-size: 24px;
  font-weight: 400;
  color: #999999;
}
.company-introduction .content-body .content-body-content {
  padding: 0 60px;
  text-align: left;
  font-size: 26px;
  font-weight: 400;
  color: #000000;
}
.company-introduction .content-body .content-body-content .margintop88 {
  margin-top: 88px;
}
.company-introduction .content-body .content-body-content .margintop75 {
  margin-top: 75px;
}
.company-introduction .content-body .content-tag {
  font-size: 48px;
  font-weight: 400;
  color: #333333;
  margin-top: 128px;
}
.company-introduction .content-body .content-tag1 {
  font-size: 26px;
  font-weight: 400;
  color: #000000;
  margin-top: 45px;
}
.company-introduction .content-body .content-img {
  padding: 60px 44px;
}
.company-introduction .content-body .content-img img {
  width: 100%;
}
.company-introduction .content-body .news-list {
  padding: 0 35px;
}
.company-introduction .content-body .news-list .news-item {
  border-bottom: 1px solid #E8E8E8;
  padding: 52px 0;
  display: flex;
  flex-flow: row;
  cursor: pointer;
  position: relative;
}
.company-introduction .content-body .news-list .news-item .item-text {
  flex: 0.5;
  text-align: left;
  margin-right: 40px;
  max-height: 310px;
  overflow: hidden;
}
.company-introduction .content-body .news-list .news-item .item-text .news-title {
  font-size: 24px;
  font-weight: 400;
  color: #666666;
  margin-top: 43px;
}
.company-introduction .content-body .news-list .news-item .item-text .news-desc {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  margin-top: 20px;
}
.company-introduction .content-body .news-list .news-item .item-text .news-desc span {
  padding: 2px 5px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: #f7f7f7;
}
.company-introduction .content-body .news-list .news-item .item-text .news-desc span:first-child {
  margin-left: 0px;
}
.company-introduction .content-body .news-list .news-item .item-text .news-content {
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  margin-top: 36px;
}
.company-introduction .content-body .news-list .news-item .item-img {
  position: absolute;
  top: 50%;
  margin-top: -115px;
  right: 0;
  height: 230px;
  width: 550px;
  background-color: rgba(200, 200, 200, 0.5);
  overflow: hidden;
}
.company-introduction .content-body .news-list .news-item .item-img img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-introduction .content-body .map-box {
  height: 778px;
  padding: 52px;
}
.company-introduction .content-body .map-box .map {
  width: 100%;
  height: 100%;
}
.company-introduction .content-body .contact-detail {
  text-align: left;
  padding: 0 52px;
}
ul,
li {
  padding: 0;
  margin: 0;
  outline: none;
  color: #3A3A3A;
}
.hideStyle {
  display: none;
}
