@import "../common.less";
html,body{
  background-color: #f6f6f6;
}
.banner{
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -150px;
  img{
    width: 100%;
    height: 80%;
    overflow: hidden;
  }
}


* {
  box-sizing: border-box;
}

.nav{
  margin: 0 auto;
  height: 122px;
  line-height: 122px;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(127, 127, 127, 0.4);
  ul.menu-container{
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-flow: row;
    li{
      flex: 1;
      font-size: 30px;
      font-weight: 400;
      color: #3A3A3A;
      display: flex;
      justify-content: center;
      div.active{
        color: #4E67C3;
        width: 200px;
        font-size: 32px;
      }
      div {
        color: #3A3A3A;
        position: relative;
        width: 200px;
        margin: auto;
        cursor: pointer;
        text-align: center;
        transition: color .5s;
      }

      div::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background: #4E67C3;
        transition: all .5s;
      }

      div:hover::before {
        left: 0;
        width: 200px;
      }
    }
  }

}
.company-introduction{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  .content-title{
    height: 148px;
    line-height: 148px;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    text-align: center;
  }
  .content-body{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 60px;
    .company-name{
      font-size: 48px;
      font-weight: 400;
      color: #666666;
      padding-top: 45px;
    }
    .company-name-en{
      padding-top: 30px;
      font-size: 48px;
      font-weight: 400;
      color: #C8C8C8;
    }
    .line{
      width: 360px;
      height: 1px;
      background: #C9C9C9;
      margin: 0 auto;
      margin-top: 44px;
    }
    .company-nav{
      width: 100%;
      height: 354px;
      display: flex;
      align-items: center;
      ul.menu-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        li.menu-item{
          flex: 1;
          font-size: 30px;
          font-weight: 400;
          color: #3A3A3A;
          display: flex;
          flex-flow: column;
          justify-content: center;
          .menu-name{
            font-size: 72px;
            font-weight: 400;
            color: #333333;
          }
          .menu-desc{
            font-size: 24px;
            font-weight: 400;
            color: #999999;
          }
        }
      }
    }
    .content-body-content{
      padding: 0 60px;
      text-align: left;
      font-size: 26px;
      font-weight: 400;
      color: #000000;
      .margintop88{
        margin-top: 88px;
      }
      .margintop75{
        margin-top: 75px;
      }
    }
    .content-tag{
      font-size: 48px;
      font-weight: 400;
      color: #333333;
      margin-top: 128px;
    }
    .content-tag1{
      font-size: 26px;
      font-weight: 400;
      color: #000000;
      margin-top: 45px;
    }
    .content-img{
      padding: 60px 44px;
      img{
        width: 100%;
      }
    }
    // 新闻资讯
    .news-list{
      padding: 0 35px;
      .news-item{
        border-bottom: 1px solid #E8E8E8;
        padding: 52px 0;
        display: flex;
        flex-flow: row;
        cursor: pointer;
        position: relative;
        .item-text{
          flex: 0.5;
          text-align: left;
          margin-right: 40px;
          max-height: 310px;
          overflow: hidden;
          .news-title{
            font-size: 24px;
            font-weight: 400;
            color: #666666;
            margin-top: 43px;
          }
          .news-desc{
            font-size: 20px;
            font-weight: 400;
            color: #666666;
            margin-top: 20px;
            span{
              padding:2px 5px;
              margin-left: 10px;
              border-radius: 4px;
              background-color:#f7f7f7;
            }
            span:first-child{
              margin-left: 0px;
            }
          }
          .news-content{
            font-size: 18px;
            font-weight: 400;
            color: #999999;
            margin-top: 36px;
          }
        }
        .item-img{
          position: absolute;
          top: 50%;
          margin-top: -115px;
          right: 0;
          height: 230px;
          width: 550px;
          background-color: rgba(200, 200, 200, 0.5);
          overflow: hidden;
          // display: flex;
          img{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

      }
    }
    // 联系我们
    .map-box{
      height: 778px;
      padding: 52px;
      .map{
        width: 100%;
        height: 100%;
      }
    }
    .contact-detail{
      text-align: left;
      padding: 0 52px;
    }
  }
}
ul,li{
  padding: 0;
  margin: 0;
  outline: none;
  color: #3A3A3A;
}
.hideStyle{
  display: none;
}
