.crumb {
  height: 50px;
  background: #f7f7f7;
}
.crumb .crumbItem {
  width: 1283px;
  margin: 0 auto;
  height: 100%;
  line-height: 50px;
  font-size: 14PX;
}
.crumb .crumbItem .canClick {
  color: #415184;
  padding-right: 5px;
}
.newsDetail {
  min-height: 652px;
}
.newsDetail .newsDetailContent {
  width: 1283px;
  margin: 0 auto;
  height: 100%;
  padding: 40px 0;
  box-sizing: border-box;
}
.newsDetail .newsDetailContent .newsTitle {
  font-size: 22px;
  font-weight: 900;
}
.newsDetail .newsDetailContent .newsCreatetime {
  font-size: 14px;
  line-height: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.newsDetail .newsDetailContent .newstext {
  padding: 40px 0;
  box-sizing: border-box;
}
.newsDetail .newsDetailContent .newsSource {
  font-size: 14px;
  color: #999999;
  cursor: pointer;
}
