@import "../common.less";
.header-container {
  height: @headerHeight;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffff;
  #header{
    .header-container-inner {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logo-container {
        padding-top: 10px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center !;
        justify-content: space-around;
        width: 180px;
      }

      ul.menu-container {
        position: relative;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 660px;
        // overflow: hidden;
        .line {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 75%;
          width: 10px;
          background-color: @hoverColor;
        }
        @keyframes mymove {
          from {
            width: 0;
          }
          to {
            width: 50px;
          }
        }

        li.menu-item {
          width: 110px;
          list-style: none;
          text-align: center;
          line-height: @headerHeight;
          text-decoration: none;
          position:relative;
          cursor: pointer;
          span{
            display:block;
            position:absolute;
            width:0px;
            height:0px;
            background:#364877;
            top:65px;
            left:50%;
          }
          .spanIsclick{
            left:17%;
            width:66%;
            right:0;
            height: 3px;
          }
          a{
            color:@fontColor;
          }
          a:link {
            color: @fontColor;
            font-weight: 520;
            text-decoration: none;
            height: 100%;
            width: 100%;
            display: inline-block;
          }
          a:hover {
            color: @hoverColor;
          }
        }
      }
    }
  }

}
.slide-container{
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 67px;
  background: rgba(0,0,0,0.9);
  display: none;
  z-index: 9999;
  .chanpin{
    max-width: 1300px;
    margin: 0 auto;
    // display: none;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    color: @headerTabColor;
    .chanpinItem{
      flex: 1;
      h3{
        margin-top: 0;
      }
      .chanpinName:first-child{
        margin-top: 0;
      }
      .chanpinName{
        font-size: 18px;
      }
    }
    .chanpinItem:nth-child(2){
      padding-left: 80px;
      box-sizing: border-box;
      flex: 1.5;

    }
  }
  .fangan{
    display: none;
  }
  .us{
    display: none;
  }
}
.homepage-carousel{
  width: 100%;
  height: 550px;
  // background-color: rosybrown;
  overflow: hidden;
  position: relative;
  @deep: ~'>>>';
  .swiper-slide{
    img{
      width: 100%;
      // height: 100%;
    }
    .centerImage{
      width: 100%;
      height: 100%;
      background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/office-website/carousel-second.jpg) no-repeat;
      background-size: 100%;
      background-position: 0% 20%;
      transition: all 1s;
    }
    .centerImage:hover{
      background-position: 0% 50%;
      background-size: 110%;
    }

  }
  .swiper-pagination-bullet{
    width: 20px;
    border-radius: 0;
    height: 5px;
  }
  .swiper-button-prev:after{
    margin-left: 40px;
    padding: 20px 25px;
    border-radius: 32.5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 25px;
    // display: none;
    opacity: 0;
    color: white;
    transition: all .5s;
  }

  .swiper-button-next:after{
    margin-right: 40px;
    padding: 20px 25px;
    border-radius: 32.5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 25px;
    // display: none;
    opacity: 0;
    color: white;
    transition: all .5s;
  }
}
.homepage-carousel:hover .swiper-button-prev:after{
  opacity: 1;
}
.homepage-carousel:hover .swiper-button-next:after{
  opacity: 1;
}
.homepage-production{
  padding: 80px 0 0 0;
  .production-title{
    width: 1283px;
    display: flex;
    height: 50px;
    margin: 0 auto;
    .pro-title{
      flex: 1;
      font-size: 30px;
      text-align: center;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
      color: #263858;
      span{
        display: block;
        width: 100px;
        height: 3px;
        background-color: #364877;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        display: none;
      }
      .pro-selected{
        display: block;
      }
    }
  }
  .pro-list{
    width: 1283px;
    margin: 0 auto;
    padding-top: 50px;
    height: 150px;
    display: flex;
    cursor: pointer;
    .pro-list-item{
      flex: 1;
      text-align: center;
      font-size: 20px;

      position: relative;
      img{
        width: 48px;
        height: 48px;
        margin: 30px auto 15px;
      }
    }
    .pro-list-item-selected{
      background: #f0f2f5;
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 90%;
        left: 5%;
        background-color: #6395FF;
      }
    }
  }
  .list-detail{
    height: 500px;
    background-color: #f0f2f5;
    overflow: hidden;
    .list-detail-con{
      // display: flex;
      min-width: 387px;
      max-width: 1283px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding-top: 50px;
      box-sizing: border-box;
      // justify-content: space-between;
      .list-detail-con-item{
        float: left;
        height: 400px;
        width: 387px;
        background-color: white;
        margin-top: 450px;
        cursor: pointer;
        .modelImg{
          height: 200px;
          width: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .modelTitle{
          text-align: center;
          font-size: 20px;
          padding: 10px 40px;
          color: #263858;
        }
        .modelText{
          // text-align: center;
          line-height:25px;
          padding:0 20px;
          color: #1C2147;
        }
        .modelButton{
          margin-top: 20px;
          text-align: center;
          button{
            width: 130px;
            height: 35px;
            text-align: center;
            border: 1px solid #354b68;
            outline: none;
            color: #2e4064;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
      .list-detail-con-item:hover .modelTitle{
        color: #6395FF;
      }
      .list-detail-con-item:hover .modelButton>button{
        color: white;
        background-color: #6395FF;
        border: none;
      }
      .list-detail-con-item:nth-child(2){
        margin-left: 61px;
        margin-right: 61px;
      }

    }
  }
}
.homepage-news{
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  .home-news-center{
    color: #435484;
  }
  .home-news-center-en{
    font-size: 23px;
    color: #50535B;
  }
}
.homepage-news-con{
  height: 390px;
  margin-top: 120px;
  background-color: #0a2349;
  position: relative;
  .homepage-news-con-box{
    height: 285px;
    width: 1292px;
    // background-color: coral;
    position: absolute;
    left: 50%;
    margin-left: -650px;
    top: -80px;
    display: flex;
    justify-content: space-between;
    .homepage-news-con-item-filter{
      filter: blur(4px);
      -webkit-filter: blur(4px);  /* chrome, opera */
      -ms-filter: blur(4px);
      -moz-filter: blur(4px);
    }
    .homepage-news-con-item{
      width: 406px;
      height: 100%;
      background-color: cornflowerblue;
      cursor: pointer;
      overflow: hidden;
      .homepage-news-con-item-top{
        height: 165px;
        width: 100%;
        // background-color: cornsilk;


        transition: all .5s;
      }
      .homepage-news-con-item-bottom{
        height: 170px;
        width: 100%;
        background-color: white;
        transition: all .5s;
        padding: 0 20px;
        box-sizing: border-box;
        .homepage-news-con-item-bottom-title{
          font-size: 18px;
          font-weight: 900;
          height: 80px;
          line-height: 80px;
          overflow: hidden;
        }
        .homepage-news-con-item-bottom-time{
          height: 40px;

          color: #999999;
        }
        .homepage-news-con-item-bottom-tags{
          height: 50px;
          opacity: 0;
          transition: all .5s;
          span{

            padding:2px 5px;
            margin-left: 10px;
            border-radius: 4px;
            background-color:#f7f7f7;
          }
          // line-height: 45px;
        }
      }
    }
    .homepage-news-con-item:hover .homepage-news-con-item-top{
      margin-top: -20px;
    }
    .homepage-news-con-item:hover .homepage-news-con-item-bottom{
      margin-top: -30px;
    }
    .homepage-news-con-item:hover .homepage-news-con-item-bottom>.homepage-news-con-item-bottom-tags{
      opacity: 1;
    }
  }
  .homepage-news-con-bg{
    height: 100%;
    width: 690px;
    margin: 0 auto;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .homepage-news-more{
    position: absolute;
    bottom: 90px;
    // width: 1292px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    button{
      padding: 10px 60px;
      font-size: 24px;
      box-sizing: border-box;
      border: 1px solid #afb4c0;
      background-color: transparent;
      color: white;
      transition: all 0.4s;
      outline: none;
      text-align: center;
      position: relative;
      cursor: pointer;
    }
    button:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, rgba(0, 0, 0, .5) 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform .3s, opacity .5s;
    }
    button:active:after {
      transform: scale(0, 0);
      opacity: .3;
      transition: 0s;
    }
    button:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }
  .homepage-news-con-bg:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow:0 0 50px 50px #0a2349 inset;
  }
}

.secvice-support{
  width: 1283px;
  height: 500px;
  margin: 0 auto;
  .secvice-support-top,.secvice-support-bottom{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    box-sizing: border-box;
    .secvice-support-item{
      min-width: 150px;
      height: 150px;
      text-align: center;
      background-color: white;
      // border: 1px solid #ccc;
      font-size: 25px;
      color: #566591;
      img{
        // width: 80px;
        // height: 80px;
      }
    }
  }
  .secvice-support-more{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    overflow: hidden;
    button{
      padding: 10px 60px;
      border: 1px solid #263858;
      color: #263858;
      background-color:transparent;
      transition: all 0.4s;
      font-size: 24px;
      position: relative;
      overflow: hidden;
      outline: none;
      cursor: pointer;
    }
    button:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, rgba(0, 0, 0, .5) 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform .3s, opacity .5s;
    }
    button:active:after {
      transform: scale(0, 0);
      opacity: .3;
      transition: 0s;
    }
    button:hover{
      background-color: rgba(0, 0, 0, .2);
    }
  }
}

.homepage-footer{
  margin-top: 50px;
  height: 260px;
  width: 100%;
  background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/office-website/dibu@2x.png) no-repeat;
  background-size: 100%;
  position: relative;
  background-position: 20% 20%;
  transition: all 1s;
  position: fixed;
  bottom: 0;
  .homepage-footer-con{
    width: 1283px;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    left:50%;
    margin-left: -650px;
    padding: 50px 25px 10px;
    box-sizing: border-box;
    display: flex;
    .homepage-footer-con-item{
      flex: 1;
      color: white;
      img{
        width: 40%;
      }
      .homepage-footer-con-item-img{
        font-size: 16px;
        margin-top: 10px;
        // img{
        //   width: 50%;
        // }
      }
      .homepage-footer-con-item-phone{

        font-size: 18px;
      }
    }
    .homepage-footer-con-item:nth-child(2){
      flex: 1.5;
      display: flex;
      .homepage-footer-con-item-text{
        flex: 1;
        text-align: left;
        font-size: 16px;
        line-height: 35px;
        color: white;

        span{
          font-size: 16px;
        }
        .footerTitle{
          font-size: 14px;

        }
      }
      .homepage-footer-con-item-text:nth-child(2){
        flex: 1;
        text-align: left;
        color: white;
      }

    }
    .homepage-footer-con-item:nth-child(3){
      flex: 2;
      text-align: center;
      line-height: 25px;
      display: flex;
      font-size: 14px;
      flex-direction: column;
      // align-self: flex-end;
      align-self: center;
    }
  }
}
.homepage-footer:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #404f7f;
  opacity: .9;
}
.homepage-footer:hover{
  background-position: 20% 50%;
}

